@charset "UTF-8";

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* These elements are for the homepage */
.main-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    }

.sidebar {
    width: 20%;
    padding: 10px;
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    }

.home-center-content {
    width: 60%;
    padding: 10px;
    margin: 0 10px
    }

.section {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    iframe{
        display: block;
        margin: 0 auto;
        max-width: 100%; 
    }
}

.updates-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 10px;
    padding: 20px;
}

.center-section {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    
}
    
.column-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    margin: 50px;
    flex-grow: 1; 
    flex-shrink: 0; 
}

.column-left > div {
    margin: 10px;
    padding: 20px;
    font-size: 15px;
}

.column-right {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 0 auto;
    margin: 50px;
    flex-grow: 1; 
    flex-shrink: 0; 
}

.column-right > div {
    margin: 10px;
    padding: 20px;
    font-size: 15px;
}


.box {
    background-color: #C3B7DD;
    padding: 20px;
    border: 2px solid #5E62A6;
}

/* These control the carousel on the portfolio page */
.carousel-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 35px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 35px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* These are for the portfolio page */
.portfolio-center-section {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;    
}

.portfolio-section {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;    
}




/* This is for the table code, maybe used maybe not */
table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #C3B7DD;
  }

  tr:nth-child(odd) {
    background-color: #5E62A6;
  } 



/* These are for the about/contact page */
.about-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.about-center-content {
    width: 60%;
    padding: 10px;
    margin: 0 10px
}

.about-section {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;


}



/* Fonts start here */
.metrophobic-regular {
    font-family: "Metrophobic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.monoton-regular {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.changa-one-regular {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.changa-one-regular-italic {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* These control the header */
header {
    height: 100px;
    width: 100%;
    background-color: #660000;
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: flex;   
    justify-content: center;
    align-items: center;
         
}

header span{
    margin: 0 20px
}

/* These control the navbar */
nav{
    width: 100%;
    height: 75px;
    background-color: #62BAD2;
    font-size: 2em;
    display: flex;   
    justify-content: center;
    align-items: center; 

    
    li {
        display: inline;
        padding: 8px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a {
        display: inline;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
   li a:hover {
        background-color: #396e7c;
    }

   .active {
        background-color: #09576e;
    }

}

/* These control the footer */
footer{
    clear: both;
    height: 100px;
    background-color: #660000;
    display: flex;   
    justify-content: center;
    align-items: center;
}
